<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.delivery.mapper.DoroMapper">

    <resultMap type="com.example.delivery.dto.Doro" id="doro">
        <id column="doro_id"                    property="doroId" />
        <result column="sido_id"                property="sidoId" />
        <result column="sigungu_id"             property="sigunguId" />
        <result column="doro_name_id"           property="doroNameId" />
        <result column="building_number"        property="buildingNumber" />
    </resultMap>

    <select id="selectDoroId" resultType="Integer">
        SELECT doro_id
          FROM BG_DORO
         WHERE sido_id = #{sidoId}
           AND sigungu_id = #{sigunguId}
           AND doro_name_id = #{doroNameId}
           AND building_number = #{buildingNumber};
    </select>


</mapper>