<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.delivery.mapper.UserMapper">

    <resultMap type="com.example.delivery.dto.User" id="user">
        <id column="user_id"                property="userId" />
        <result column="user_name"          property="userName" />
        <result column="password"           property="password" />
        <result column="insert_date_time"   property="insertDateTime" />
        <result column="update_date_time"   property="updateDateTime" />
    </resultMap>

    <insert id="insert" parameterType="com.example.delivery.dto.User" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO BG_USER (
            user_id
          , user_name
          , password
          , insert_date_time
        ) VALUES (
            #{userId}
          , #{userName}
          , #{password}
          , CURRENT_TIMESTAMP
        )
    </insert>

    <select id="selectByUserId" resultMap="user">
        SELECT *
          FROM BG_USER U
         WHERE U.user_id = #{userId}
    </select>

    <update id="update">
        UPDATE BG_USER
        SET <if test="userId != null"> user_id = #{userId}, </if>
            <if test="userName != null"> user_name = #{cityName}, </if>
            <if test="password != null"> password = #{password}, </if>
            update_date_time = CURRENT_TIMESTAMP
        WHERE user_id = #{userId}
    </update>

</mapper>